In [158]:
# Import module pandas
import pandas as pd

In [159]:
# Open the CSV file contaning the dataset
datei = pd.read_csv("/home/andre/Desktop/ciÃªncia de dados - bootcamp/exercicio/stroke_data.csv")

In [160]:
# Show the first five registers from dataframe.
datei.head()

,0,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,Female,18.0,0,0,No,Private,Urban,94.19,12.12,smokes,1
1,2,Male,58.0,1,0,Yes,Private,Rural,154.24,33.70,never_smoked,0
2,3,Female,36.0,0,0,Yes,Govt_job,Urban,72.63,24.70,smokes,0
3,4,Female,62.0,0,0,Yes,Self-employed,Rural,85.52,31.20,formerly smoked,0
4,5,Female,82.0,0,0,Yes,Private,Rural,59.32,33.20,smokes,1

In [161]:
# Return a tuple representing the dimensionality of the DataFrame.
datei.shape

(67135, 12)

In [162]:
# Show the column labels of the DataFrame.
datei.columns # These dataframe contain 12 columns

Index(['0', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [163]:
# Generate descriptive statistics from dataframe.
datei.describe() # Seven columns are numerical

,0,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,67135.000000,67135.000000,67135.000000,67135.000000,67135.000000,67135.000000,67135.000000
mean,33568.000000,51.959508,0.164102,0.101423,113.414396,29.161540,0.600089
std,19380.349498,23.413054,0.370371,0.301890,51.258817,7.102057,0.489883
min,1.000000,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,16784.500000,35.000000,0.000000,0.000000,78.370000,24.400000,0.000000
50%,33568.000000,56.000000,0.000000,0.000000,94.160000,28.800000,1.000000
75%,50351.500000,73.000000,0.000000,0.000000,126.460000,32.600000,1.000000
max,67135.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [164]:
# Select the rows containing only the people that suffered stroke
stroke_people = datei.loc[datei['stroke'] == 1]

In [165]:
# Finding the number of people that suffered stroke
stroke_people.count()[0]

40287

In [166]:
# Select the rows containing only the people that not suffered stroke
no_stroke_people = datei.loc[datei['stroke'] == 0]
# Finding the number of people that not suffered stroke
no_stroke_people.count()[0]

26848

In [167]:
# Stroke occurrences in all the work types of these dataset
# unique() Return unique values based on a hash table.
datei['work_type'].unique() # There are five work types found in this dataset

array(['Private', 'Govt_job', 'Self-employed', 'children', 'Never_worked'],
      dtype=object)

In [168]:
# Getting the number of peoples that suffered stroke and are in work private
private = datei[(datei.work_type=='Private') & (datei.stroke==1)].count()[0]
private

23711

In [169]:
# Getting the number of peoples that suffered stroke and are in work private
private = datei[(datei.work_type=='Private') & (datei.stroke==1)].count()
private
# Observe that in this case, it does not used [0] together with the count(), then it show all the details.

0                    23711
gender               23711
age                  23711
hypertension         23711
heart_disease        23711
ever_married         23711
work_type            23711
Residence_type       23711
avg_glucose_level    23711
bmi                  23711
smoking_status       23711
stroke               23711
dtype: int64

In [170]:
# Getting the number of children that suffered stroke 
children = datei[(datei.work_type == 'children') & (datei.stroke==1)].count()[0]
children

520

In [171]:
# Getting the number of peoples that suffered stroke and are self-employed
independente = datei[(datei.work_type=='Self-employed') & (datei.stroke==1)].count()[0]
independente

10807

In [172]:
# Getting the number of peoples that suffered stroke and are government employment
governo = datei[(datei.work_type == 'Govt_job') & (datei.stroke==1)].count()[0]
governo

5164

In [173]:
# Determining the proportion, by gender, of study participants
gender = datei['gender'].unique() # Gender occurrences in these dataset
gender

array(['Female', 'Male', 'Other'], dtype=object)

In [174]:
# Getting the number of women  
Female = datei.loc[datei['gender']=='Female'].count()[0]
Female

39530

In [175]:
# Getting the number of men
Male = datei.loc[datei['gender']=='Male'].count()[0]
Male

27594

In [176]:
# Getting the number of other types of gender
Other = datei.loc[datei['gender']=='Other'].count()[0]
Other

11

In [177]:
# Number of hypertensive people and non-hypertensive people that suffered stroke
hipertenso = datei[(datei.hypertension==1) & (datei.stroke==1)].count()[0]
print("Number of hypertensive people: ",hipertenso)
non_hipertenso = datei[(datei.hypertension==0) & (datei.stroke==1)].count()[0]
print("Number of non-hypertensive people: ",non_hipertenso)

Number of hypertensive people:  8817
Number of non-hypertensive people:  31470

### Determining the number of people who had a stroke by age. Finding the age with the largest number of people in the dataset who had a stroke.

In [178]:
# Determining the unique occurrences of ages of dataset
datei['age'].unique()

array([1.80e+01, 5.80e+01, 3.60e+01, 6.20e+01, 8.20e+01, 3.30e+01,
       3.70e+01, 4.10e+01, 7.00e+01, 2.50e+01, 4.30e+01, 7.20e+01,
       2.00e+01, 2.30e+01, 2.20e+01, 6.90e+01, 4.40e+01, 1.60e+01,
       6.40e+01, 7.80e+01, 7.90e+01, 5.10e+01, 8.10e+01, 1.00e+01,
       6.30e+01, 8.00e+01, 5.60e+01, 3.80e+01, 4.80e+01, 5.90e+01,
       7.70e+01, 6.70e+01, 6.60e+01, 4.60e+01, 5.60e-01, 1.20e+01,
       5.30e+01, 3.40e+01, 6.00e+01, 7.60e+01, 5.70e+01, 7.50e+01,
       2.60e+01, 1.70e+01, 7.30e+01, 4.50e+01, 5.00e+01, 5.00e+00,
       2.10e+01, 2.70e+01, 7.40e+01, 1.16e+00, 3.90e+01, 3.00e+00,
       5.40e+01, 3.20e+01, 6.50e+01, 3.00e+01, 8.00e+00, 2.80e+01,
       1.10e+01, 2.90e+01, 4.70e+01, 7.00e+00, 2.00e+00, 4.90e+01,
       1.90e+01, 6.10e+01, 3.50e+01, 4.00e+01, 3.10e+01, 1.30e+01,
       5.50e+01, 5.20e+01, 2.40e+01, 1.40e+01, 6.00e+00, 7.10e+01,
       4.20e+01, 9.00e+00, 6.80e+01, 1.50e+01, 8.00e-01, 4.00e+00,
       1.48e+00, 4.00e-01, 1.08e+00, 1.24e+00, 1.56e+00, 1.64e+00,
       1.40e+00, 7.20e-01, 1.72e+00, 1.88e+00, 2.40e-01, 1.32e+00,
       8.80e-01, 6.40e-01, 1.80e+00, 1.60e-01, 4.80e-01, 8.00e-02,
       3.20e-01, 1.00e+00])

In [179]:
# Count number of distinct elements in specified axis.
datei['age'].nunique() # There are 104 ages in dataset

104

In [180]:
# Pandas tolist() is used to convert a series to list.
idade = datei['age'].unique().tolist()
# The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.
numerar = enumerate(idade)

In [181]:
# In order to correrct this TypeError: 'enumerate' object is not subscriptable
# we must to transform to list
lista_numerada = list(numerar)
lista_numerada

[(0, 18.0),
 (1, 58.0),
 (2, 36.0),
 (3, 62.0),
 (4, 82.0),
 (5, 33.0),
 (6, 37.0),
 (7, 41.0),
 (8, 70.0),
 (9, 25.0),
 (10, 43.0),
 (11, 72.0),
 (12, 20.0),
 (13, 23.0),
 (14, 22.0),
 (15, 69.0),
 (16, 44.0),
 (17, 16.0),
 (18, 64.0),
 (19, 78.0),
 (20, 79.0),
 (21, 51.0),
 (22, 81.0),
 (23, 10.0),
 (24, 63.0),
 (25, 80.0),
 (26, 56.0),
 (27, 38.0),
 (28, 48.0),
 (29, 59.0),
 (30, 77.0),
 (31, 67.0),
 (32, 66.0),
 (33, 46.0),
 (34, 0.56),
 (35, 12.0),
 (36, 53.0),
 (37, 34.0),
 (38, 60.0),
 (39, 76.0),
 (40, 57.0),
 (41, 75.0),
 (42, 26.0),
 (43, 17.0),
 (44, 73.0),
 (45, 45.0),
 (46, 50.0),
 (47, 5.0),
 (48, 21.0),
 (49, 27.0),
 (50, 74.0),
 (51, 1.16),
 (52, 39.0),
 (53, 3.0),
 (54, 54.0),
 (55, 32.0),
 (56, 65.0),
 (57, 30.0),
 (58, 8.0),
 (59, 28.0),
 (60, 11.0),
 (61, 29.0),
 (62, 47.0),
 (63, 7.0),
 (64, 2.0),
 (65, 49.0),
 (66, 19.0),
 (67, 61.0),
 (68, 35.0),
 (69, 40.0),
 (70, 31.0),
 (71, 13.0),
 (72, 55.0),
 (73, 52.0),
 (74, 24.0),
 (75, 14.0),
 (76, 6.0),
 (77, 71.0),
 (78, 42.0),
 (79, 9.0),
 (80, 68.0),
 (81, 15.0),
 (82, 0.8),
 (83, 4.0),
 (84, 1.48),
 (85, 0.4),
 (86, 1.08),
 (87, 1.24),
 (88, 1.56),
 (89, 1.64),
 (90, 1.4),
 (91, 0.72),
 (92, 1.72),
 (93, 1.88),
 (94, 0.24),
 (95, 1.32),
 (96, 0.88),
 (97, 0.64),
 (98, 1.8),
 (99, 0.16),
 (100, 0.48),
 (101, 0.08),
 (102, 0.32),
 (103, 1.0)]

In [182]:
soma_d = {} # Creates a dictionary to store the age and their corresponding  amount of stroke people

for m in range(datei['age'].nunique()):
    soma_d[lista_numerada[m][1]]=datei[(datei.age == lista_numerada[m][1]) & datei.stroke==1].count()[0]
    print("Number of people that suffered stroke with ", lista_numerada[m][1], "years old :")
    print(datei[(datei.age == lista_numerada[m][1]) & datei.stroke==1].count()[0])

Number of people that suffered stroke with  18.0 years old :
218
Number of people that suffered stroke with  58.0 years old :
645
Number of people that suffered stroke with  36.0 years old :
293
Number of people that suffered stroke with  62.0 years old :
550
Number of people that suffered stroke with  82.0 years old :
1427
Number of people that suffered stroke with  33.0 years old :
296
Number of people that suffered stroke with  37.0 years old :
260
Number of people that suffered stroke with  41.0 years old :
324
Number of people that suffered stroke with  70.0 years old :
881
Number of people that suffered stroke with  25.0 years old :
226
Number of people that suffered stroke with  43.0 years old :
407
Number of people that suffered stroke with  72.0 years old :
709
Number of people that suffered stroke with  20.0 years old :
263
Number of people that suffered stroke with  23.0 years old :
253
Number of people that suffered stroke with  22.0 years old :
242
Number of people that suffered stroke with  69.0 years old :
677
Number of people that suffered stroke with  44.0 years old :
292
Number of people that suffered stroke with  16.0 years old :
187
Number of people that suffered stroke with  64.0 years old :
376
Number of people that suffered stroke with  78.0 years old :
2279
Number of people that suffered stroke with  79.0 years old :
2916
Number of people that suffered stroke with  51.0 years old :
643
Number of people that suffered stroke with  81.0 years old :
1738
Number of people that suffered stroke with  10.0 years old :
62
Number of people that suffered stroke with  63.0 years old :
942
Number of people that suffered stroke with  80.0 years old :
1858
Number of people that suffered stroke with  56.0 years old :
569
Number of people that suffered stroke with  38.0 years old :
456
Number of people that suffered stroke with  48.0 years old :
490
Number of people that suffered stroke with  59.0 years old :
647
Number of people that suffered stroke with  77.0 years old :
994
Number of people that suffered stroke with  67.0 years old :
801
Number of people that suffered stroke with  66.0 years old :
848
Number of people that suffered stroke with  46.0 years old :
471
Number of people that suffered stroke with  0.56 years old :
0
Number of people that suffered stroke with  12.0 years old :
119
Number of people that suffered stroke with  53.0 years old :
409
Number of people that suffered stroke with  34.0 years old :
289
Number of people that suffered stroke with  60.0 years old :
579
Number of people that suffered stroke with  76.0 years old :
892
Number of people that suffered stroke with  57.0 years old :
775
Number of people that suffered stroke with  75.0 years old :
809
Number of people that suffered stroke with  26.0 years old :
234
Number of people that suffered stroke with  17.0 years old :
227
Number of people that suffered stroke with  73.0 years old :
759
Number of people that suffered stroke with  45.0 years old :
513
Number of people that suffered stroke with  50.0 years old :
503
Number of people that suffered stroke with  5.0 years old :
0
Number of people that suffered stroke with  21.0 years old :
290
Number of people that suffered stroke with  27.0 years old :
231
Number of people that suffered stroke with  74.0 years old :
987
Number of people that suffered stroke with  1.16 years old :
0
Number of people that suffered stroke with  39.0 years old :
295
Number of people that suffered stroke with  3.0 years old :
0
Number of people that suffered stroke with  54.0 years old :
544
Number of people that suffered stroke with  32.0 years old :
223
Number of people that suffered stroke with  65.0 years old :
716
Number of people that suffered stroke with  30.0 years old :
223
Number of people that suffered stroke with  8.0 years old :
0
Number of people that suffered stroke with  28.0 years old :
218
Number of people that suffered stroke with  11.0 years old :
95
Number of people that suffered stroke with  29.0 years old :
306
Number of people that suffered stroke with  47.0 years old :
472
Number of people that suffered stroke with  7.0 years old :
0
Number of people that suffered stroke with  2.0 years old :
0
Number of people that suffered stroke with  49.0 years old :
315
Number of people that suffered stroke with  19.0 years old :
243
Number of people that suffered stroke with  61.0 years old :
646
Number of people that suffered stroke with  35.0 years old :
281
Number of people that suffered stroke with  40.0 years old :
266
Number of people that suffered stroke with  31.0 years old :
248
Number of people that suffered stroke with  13.0 years old :
131
Number of people that suffered stroke with  55.0 years old :
387
Number of people that suffered stroke with  52.0 years old :
580
Number of people that suffered stroke with  24.0 years old :
228
Number of people that suffered stroke with  14.0 years old :
166
Number of people that suffered stroke with  6.0 years old :
0
Number of people that suffered stroke with  71.0 years old :
667
Number of people that suffered stroke with  42.0 years old :
318
Number of people that suffered stroke with  9.0 years old :
0
Number of people that suffered stroke with  68.0 years old :
688
Number of people that suffered stroke with  15.0 years old :
174
Number of people that suffered stroke with  0.8 years old :
0
Number of people that suffered stroke with  4.0 years old :
0
Number of people that suffered stroke with  1.48 years old :
0
Number of people that suffered stroke with  0.4 years old :
0
Number of people that suffered stroke with  1.08 years old :
0
Number of people that suffered stroke with  1.24 years old :
0
Number of people that suffered stroke with  1.56 years old :
0
Number of people that suffered stroke with  1.64 years old :
0
Number of people that suffered stroke with  1.4 years old :
0
Number of people that suffered stroke with  0.72 years old :
0
Number of people that suffered stroke with  1.72 years old :
0
Number of people that suffered stroke with  1.88 years old :
0
Number of people that suffered stroke with  0.24 years old :
0
Number of people that suffered stroke with  1.32 years old :
1
Number of people that suffered stroke with  0.88 years old :
0
Number of people that suffered stroke with  0.64 years old :
0
Number of people that suffered stroke with  1.8 years old :
0
Number of people that suffered stroke with  0.16 years old :
0
Number of people that suffered stroke with  0.48 years old :
0
Number of people that suffered stroke with  0.08 years old :
0
Number of people that suffered stroke with  0.32 years old :
0
Number of people that suffered stroke with  1.0 years old :
0

In [183]:
# Listing the dictionary showing the age and their corresponding amount of the stroke people
soma_d

{18.0: 218,
 58.0: 645,
 36.0: 293,
 62.0: 550,
 82.0: 1427,
 33.0: 296,
 37.0: 260,
 41.0: 324,
 70.0: 881,
 25.0: 226,
 43.0: 407,
 72.0: 709,
 20.0: 263,
 23.0: 253,
 22.0: 242,
 69.0: 677,
 44.0: 292,
 16.0: 187,
 64.0: 376,
 78.0: 2279,
 79.0: 2916,
 51.0: 643,
 81.0: 1738,
 10.0: 62,
 63.0: 942,
 80.0: 1858,
 56.0: 569,
 38.0: 456,
 48.0: 490,
 59.0: 647,
 77.0: 994,
 67.0: 801,
 66.0: 848,
 46.0: 471,
 0.56: 0,
 12.0: 119,
 53.0: 409,
 34.0: 289,
 60.0: 579,
 76.0: 892,
 57.0: 775,
 75.0: 809,
 26.0: 234,
 17.0: 227,
 73.0: 759,
 45.0: 513,
 50.0: 503,
 5.0: 0,
 21.0: 290,
 27.0: 231,
 74.0: 987,
 1.16: 0,
 39.0: 295,
 3.0: 0,
 54.0: 544,
 32.0: 223,
 65.0: 716,
 30.0: 223,
 8.0: 0,
 28.0: 218,
 11.0: 95,
 29.0: 306,
 47.0: 472,
 7.0: 0,
 2.0: 0,
 49.0: 315,
 19.0: 243,
 61.0: 646,
 35.0: 281,
 40.0: 266,
 31.0: 248,
 13.0: 131,
 55.0: 387,
 52.0: 580,
 24.0: 228,
 14.0: 166,
 6.0: 0,
 71.0: 667,
 42.0: 318,
 9.0: 0,
 68.0: 688,
 15.0: 174,
 0.8: 0,
 4.0: 0,
 1.48: 0,
 0.4: 0,
 1.08: 0,
 1.24: 0,
 1.56: 0,
 1.64: 0,
 1.4: 0,
 0.72: 0,
 1.72: 0,
 1.88: 0,
 0.24: 0,
 1.32: 1,
 0.88: 0,
 0.64: 0,
 1.8: 0,
 0.16: 0,
 0.48: 0,
 0.08: 0,
 0.32: 0,
 1.0: 0}

In [184]:
# Getting the largest amount of people stroke 
max(soma_d.values())

2916

In [187]:
# Dictionary elements are not accessed by numerical index, like soma_d[1]

In [194]:
positions = list(soma_d.values()) # Converting values in a list
chave = list(soma_d.keys()) # Converting keys in a list

for z in range(datei['age'].nunique()):
    if positions[z] == 2916: # 2916 is the largest number of stroke people
        print("The age corresponding to the largest number of stroke people is: ", chave[z])

The age corresponding to the largest number of stroke people is:  79.0

In [143]:
# The get() method returns the value of the item with the specified key.
corresponding_age = soma_d.get(82.0)
print(corresponding_age)

1427

In [150]:
# The Python __sizeof__() method returns the size of the object in bytes. 
soma_d.__sizeof__()

4680

In [151]:
soma_d.clear() # The clear() method removes all the elements from a dictionary.